<template>
  <div class="">
    <div @click="show=!show" class="select">
      {{ gender?gender:'No gender ' }} 
      <i class="arrow down"></i>
    </div>
    <transition name="options">
      <div v-if="show" class="options">
        <input v-if="searchLine" type="text" v-model="search" @keyup="searchHandler" @keyup.enter="selectHandler({value:gender})">
        <div v-for="item in items" class="option" @click="selectHandler(item)">{{ item.value }}</div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: [ 'source', 'searchLine', 'allowEmpty' ],
  prop: ['value'],
  data() {
    return {
      gender: this.value,
      items: this.source,
      search: '',
      show: false,
    }
  },
  created() {
    var vm = this
    if(vm.allowEmpty) vm.items.push({ key: 'empty', value: null })
  },
  updated() {
  },
  methods: {
    searchHandler(e) {
      var vm = this
      vm.items.forEach(item => {
        if(item.value && item.value.includes(vm.search)) vm.gender = item.value
      })
    },
    selectHandler(item) {
      var vm = this
      vm.gender = item.value; 
      vm.show = false
      if(!vm.allowEmpty && !vm.gender) vm.gender = 'male'
      vm.$emit('input', vm.gender)
    }
  }
}
</script>