<template>
  <div id="app">
    <my-select 
      :source="[
        {key: 'm', value: 'male'}, 
        {key: 'f', value: 'female'},
        {key: 'c', value: 'child'},
      ]" 
      key-field="key" 
      value-field="value" 
      :search-line="true" 
      :allow-empty="true" 
      v-model="gender" />
      <p class="gender">{{ gender }}</p>
  </div>
</template>

<script>
import MySelect from './components/MySelect.vue'

export default {
  name: 'app',
  data() {
    return {
      gender: '',
    }
  },
  components: {
    MySelect
  }
}
</script>
